body {
    background-image: url("https://conteudo.imguol.com.br/c/esporte/68/2023/11/07/nova-camisa-3-do-red-bull-bragantino-1699400027959_v2_1x1.jpg");
  }
  
.fonte {
    color: white;
    text-align:center;
}